.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat_header {
    padding: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #B0E0E6;
}

.chat_headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat_headerInfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
    margin-top: 3px;
}

.chat_headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat_main {
    overflow-y: scroll;
    overflow-x: auto;
}

.chat_body {
    flex: 1;
    background-color: white;
    padding: 30px;
    overflow-x: scroll;
}

.chat_body::-webkit-scrollbar {
    display: none;
}

.chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #F0FFFF;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 30px;
    /* overflow-x: scroll; */
    max-width: 60%;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-size: xx-small;
    color: black;
}

.chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_receiver {
    margin-left: auto;
    background-color: #AFEEEE;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 62px; */
    padding-right: 10px;
    margin-top: auto;
}

.chat_footer>form {
    flex: 1;
    display: flex;
}

.chat_footer>form>input {
    flex: 1;
    border-radius: 12px;
    padding: 9px;
    border: none;
    margin: 7px 0px;
}

.chat_footer>form>input:focus {
    outline: none;
}

.chat_footer>form>button {
    /* display: none; */
    border-radius: 50%;
    margin: 5px; 
    cursor: pointer;
    border: none;
    padding-right: 8px;
}

.chat_footer>.MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.para-chat {
    margin: auto;
}
.chat_fileUpload {
    display:none;
}
.chat_fileIcon>.MuiSvgIcon-root{
    margin-top:5px;
    color: rgb(109, 109, 109);  
    padding: 10px;
    cursor: pointer;
}